.doumi-dialog {
    .black-line {
        font-size: 18px;

        .left {
            cursor: pointer;
            position: absolute;
            left: 20px;
        }

        .right {
            cursor: pointer;
            position: absolute;
            right: 20px;
            font-size: 14px;
        }
    }
}