.doumi-dialog {
    .result {
        .content-container {
            padding: 10px 20px;
            height: 150px;
        }

        .result-container {
            text-align: right;
            width: 230px;
            margin-left: 240px;

            .result-line {
                height: 65px;
                border-bottom: $st-border;
                line-height: 65px;
                margin-bottom: 20px;

                .color-text {
                    font-size: 30px;
                }
            }

            .red-btn {
                margin-left: 10px;
            }
        }
    }

    .result-win {
        .color-text {
            color: $st-color-orange;
            margin: 0 10px;
        }
    }

    .result-lose {
        .color-text {
            color: #000;
            margin: 0 10px;
        }
    }
}