.breadcrumb {
    padding: 0px;
    margin: 0 auto;
    background-color: transparent;
    width: 960px;
    height: 30px;
    li {
        display: inline-block;
        font-size: 14px;
        line-height: 30px;
        color: #666;
    }
}