
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont/iconfont.eot'); /* IE9*/
  src: url('../fonts/iconfont/iconfont.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont/iconfont.woff') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont/iconfont.svg') format('svg'); /* iOS 4.1- */
}


.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-shouyi2:before { content: "\e6ae"; }

.icon-iconfonticonfonttoggleon:before { content: "\e623"; }

.icon-gantanhao11-copy:before { content: "\e67e"; }

.icon-wodewodeshequ:before { content: "\e7a8"; }

.icon-zhuanqushouyi:before { content: "\e628"; }

.icon-nostoploss:before { content: "\e609"; }

.icon-stoploss:before { content: "\e60a"; }

.icon-piao:before { content: "\e600"; }

.icon-gupiao:before { content: "\e601"; }

.icon-news:before { content: "\e602"; }

.icon-angleleft:before { content: "\e60c"; }

.icon-angleright:before { content: "\e60d"; }

.icon-datafile:before { content: "\e60e"; }

.icon-internal:before { content: "\e611"; }

.icon-logo:before { content: "\e612"; }

.icon-merger:before { content: "\e613"; }

.icon-money1:before { content: "\e614"; }

.icon-nostoploss1:before { content: "\e615"; }

.icon-percent:before { content: "\e616"; }

.icon-private:before { content: "\e617"; }

.icon-rmb:before { content: "\e618"; }

.icon-stock:before { content: "\e619"; }

.icon-stoploss1:before { content: "\e61a"; }

.icon-suspended:before { content: "\e61b"; }

.icon-tagl:before { content: "\e61c"; }

.icon-tagr:before { content: "\e61d"; }

.icon-topdown:before { content: "\e61e"; }

.icon-topup:before { content: "\e61f"; }

.icon-transfer:before { content: "\e620"; }

.icon-uploadfile:before { content: "\e621"; }

.icon-write:before { content: "\e622"; }

.icon-role:before { content: "\e624"; }

.icon-date:before { content: "\e603"; }

.icon-xiaoxi:before { content: "\e605"; }

.icon-xingxing:before { content: "\e610"; }

.icon-xingxingbange:before { content: "\e608"; }

.icon-xingxingshixin:before { content: "\e60b"; }

.icon-211:before { content: "\e604"; }

.icon-weibiaoti11:before { content: "\e606"; }

.icon-newfile:before { content: "\e607"; }

.icon-2:before { content: "\e625"; }

.icon-21:before { content: "\e626"; }

.icon-celveicon:before { content: "\e716"; }

.icon-jinnang:before { content: "\e637"; }

.icon-logo1:before { content: "\e627"; }

.icon-celve1:before { content: "\e62a"; }

.icon-icon-test2:before { content: "\e629"; }

.icon-dui:before { content: "\e62c"; }

.icon-dui1:before { content: "\e632"; }

.icon-angleleft-copy:before { content: "\e7a9"; }

.icon-angleleft-copy-copy:before { content: "\e7aa"; }

.icon-celue:before { content: "\e63a"; }

.icon-icon-test6:before { content: "\e63d"; }

.icon-guizheng:before { content: "\e63b"; }

.icon-guizheng1:before { content: "\e63c"; }

.icon-sc:before { content: "\e62b"; }

.icon-icon-test5:before { content: "\e62d"; }

.icon-icon-test7:before { content: "\e62e"; }

