.custom_pagination {
    .pagination {
        display: block;
        margin: 20px auto;
      .active {
        border: 1px solid $color-org;
        color:$color-org;
        a {
            background-color: #fff;
            color:$color-org;
        }
      }
      a {
        color: inherit;
        font-size: 12px;
        line-height: 22px;
        height: 22px;
        padding: 0 5px;
        display: block;
        border: none;
        margin: 0;
        // padding: 0;
        &:hover {
          border: none;
        }
      }

      li {
        border: 1px solid $color-page-border;
        color:$color-page-border;
        font-size: 12px;
        line-height: 22px;
        display: inline-block;
        margin-right: 10px;
        cursor: pointer;
      }
      .btn-first-page > a {

      }
      .btn-numbered-page {

      }
    }
    .nextPage {
      display: inherit;
      text-align: center;
      margin: 0 auto;
      margin-bottom: 10px;
      font-size: 14px;
      color:$color-foot-font;
    }
}
