.da-dialog {

    .project {
        .right-number {
            text-align: right;
            padding-right: 110px;
        }

        .my-table {
            td {
                width: 230px;
            }
        }
    }
}