$st-color-orange: #ffab36;
$st-color-orange-light: #ffeed7;

$st-color-red-dark: #c51f30;
$st-color-red: #fb6969;
$st-color-red-light: #f8e4e4;

$st-color-green: #7bc07f;
$st-color-green-light: #eaf7f5;

$st-color-blue: #284a7d;

$st-color-black: #4a4a4a;
$st-color-white: #fff;

$st-color-gray: #999;
$st-color-gray-dark: #888;
$st-color-gray-light: #efefef;

$st-border: 1px solid #cfd5e1;