.jd-btn {
    display: inline-block;
    font-size: 16px;
    line-height: 16px;
    padding: 6px 10px;

    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;

    background-image: none;
    border: 1px solid $st-color-gray;
    white-space: nowrap;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    @mixin hoverAndActive($color) {
        color: $color;
        border: 1px solid $color;
    }

    border-radius: 2px;
    &:hover {
        @include hoverAndActive($st-color-orange);
    }

    &.jd-active {
        @include hoverAndActive($st-color-orange);
    }

    &.jd-btn-orange {
        color: $st-color-white;
        background-color: $st-color-orange;
        border-color: transparent;

        &:hover {
            background-color: #fdc238;
        }
    }

    &.jd-btn-gray {
        color: #fafafa;
        background-color: #d5d5d5;
        border-color: transparent;

        cursor: not-allowed;
    }

    &.jd-btn-white {
        color: #666;
        background-color: $st-color-white;
        border-color: $st-color-orange;

        &:hover {
            color: $st-color-orange;
        }
    }
    &.jd-btn-small {
        font-size: 12px;
        line-height: 14px;
        padding: 4px 8px;
    }
}
